.auth-reg__input {
  border: none;
  outline: none;
  border-bottom: 2px solid #CCCCCC;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  background-color: #000000;
  padding: 0px 0px 13px 0px;
  margin-bottom: 30px;
}

.auth-reg__input:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 568px) {
  .auth-reg__input {
    font-size: 14px;
    line-height: 17px;
  }
}
