.pop-up__container {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  margin: 0;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 568px) {
  .pop-up__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
