.element__button-bin {
  background-image: url(../../../images/elements/bin.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  border: none;
}

.element__button-bin:hover {
  opacity: 0.6;
}
